<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>

<%- include('includes/header') %>

<main>
    <form action="/register" method="POST">
        <% err.forEach(err => { %>
        <p class="notice"><%= err %> </p>
        <%}); %>
        <a href="/login">Already have an account?</a>
    <fieldset>
        <legend>Create an Account</legend>
        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" autocomplete="off">

        <label for="password">Enter Password</label>
        <input type="password" id="password" name="password" autocomplete="off">

        <br>
        <button>Sign Up</button>
    </fieldset>
    </form>
</main>

</body>
</html>